@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body {
    background-color: #BBE1FA;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
}

#main {
    background-color: #FFFFFF;
    padding: 0;
    margin-left: 15px;
}

/* navigation bar */

.navbar-custom {
    background-color: #0F4C75;
}

.navbar-custom .navbar-brand, .navbar-custom .nav-link {
    color: #FFFFFF;
}

.navbar-custom .icon-bar {
    background-color: #FFFFFF;
    border: solid 1.5px #FFFFFF;
}

.navbar-custom .nav-item .nav-link:hover,
.navbar-custom .nav-item .nav-link:focus {
    background-color: #EBF2FA;
    color: #0F4C75;
}

.navbar-custom .dropdown .dropdown-menu {
    background-color: #0F4C75;
    color: #FFFFFF;
}

.navbar-custom .dropdown .dropdown-item {
    color: #FFFFFF;
}

/* header */

header {
    background-color: #3282B8;
}

header .pict-box {
    margin-top: -11%;
    width: 100%;
    justify-content: center;
}

img#prof-pict {
    border: #000000 4.5px solid;
    width: 22%;
}

header .name {
    margin: 20px;
    padding: 20px;
}

header h1 {
    font-size: xx-large;
    font-weight: 500;
    margin: 0;
}

header .header-divider {
    background-color: #FFFFFF;
    height: 3px;
    width: 400px;
    max-width: 100%;
    margin: 0 auto;
}

header .whitespace {
    margin: 0;
    padding: 0;
}

header h2 {
    font-size: x-large;
    font-weight: 400;
    margin: 0;
}

/* content */

.content-box {
    background-color: #3282B8;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
}

.judul {
    font-size: x-large;
    font-weight: 500;
    margin: 10px;
}

.content-box .content-isi {
    font-size: medium;
    font-weight: 400;
    margin: 10px;
}

.content-box .content-isi .row img {
    padding: 15px;
}

/* table */

td {
    border-top: none !important;
    padding: 5px;
    vertical-align: middle;
}

.table-profile .table-description {
    text-align: right;
}

/* footer */

footer {
    background-color: #0F4C75;
    margin: 0;
    padding: 0;
}

.contact-box {
    margin: 20px;
    padding: 20px;
}

.contact-box img.contact-icon {
    width: 50%;
}

.contact-box .contact-item {
    vertical-align: middle;
}

.social-media {
    background-color: #1B262C;
    padding: 20px;
    text-align: center;
}

.social-media .social-media-list {
    margin: 0;
    list-style-type: none;
    padding: 0;
}

.social-media .social-media-list .social-media-item {
    display: inline;
	margin: 20px;
}

.social-media .social-media-list .social-media-item .social-media-logo {
    height: 100px;
}
